
#divm
{
    padding: 25px 190PX;
}

#div2
{   padding: auto;
    background-image: url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    text-align: center;
    height: 380px;
    width: 350px;
    padding: 10px;
    border-color: black;
}