<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    
</head>
<body>
  <h1>payment</h1>
    
      
     <button id="rzp-button1">Pay Now</button> 
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  
var options = {
    "key": "rzp_test_lIAffka8ZIqfaU", // Enter the Key ID generated from the Dashboard
    "amount": "2000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "order_id": "<%= order %>", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
        var headers = {
    'Content-Type': 'application/json'
}
var options = {
    url: "/api/payment/verify",
    method: 'POST',
    headers: headers,
    json: true,
    body: {razorpay_payment_id:response.razorpay_payment_id, razorpay_order_id:response.razorpay_order_id,razorpay_signature:response.razorpay_signature}
}

    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>

</body>
</html>